
#root{
    max-width: 800px;
    justify-content: center;
    margin: auto;
    display: flex;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 20vh;
    margin-top: 10vh;
}

ul {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 7px;
    /* box-shadow: 1px 1px 1px rgb(0, 128, 119); */
    gap: 20px;
    align-items: center;
    width: 25vw;
    height: 30vw;
}

button {
    border-radius: 8px;
    width: 6vw;
    height: 4vh;
    background-color: rgb(5, 180, 5);
    box-shadow: 1px 1px 1px rgb(1, 85, 1);
}

@media screen and (max-width: 1000px) {
    nav {
        width: 300px;
        height: 35px;
    }
    button {
        width: 75px;
    }
    .pic {
        width: 300px;
    }
    .body {
        width: 300px;
    }
}

.pic {
    justify-content: center;
    display: flex;
    /* border: 2px solid black; */
    border-radius: 7px;
    margin: auto;
    /* margin-top: 5vh; */
    width: 25vw;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3vh;
    width: 25vw;
}

.headshot {
    height: 40vh;
    width: 80vw;
}

.text {
    flex-direction: column;
}