body {
    background-color: #FCFCFC;
}

#container{
    margin: 130px auto;
    width: 445px;
    font-family: 'Crimson Text', serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

/* .main {
    /* display: flex;
    flex-direction: column; */
/* } */

.nav {
    /* gap: 20px; */
    /* display: inline-block;
    align-items: last baseline;
    width: 25vw;
    /* margin-top: 7vh; */
    /* white-space: nowrap; */ 
    margin: 0 0 5px 0;
}

.menu {
    display: inline;
    /* flex-direction: row; */
    float: right;
    /* gap: 1.5vw; */
    padding-top: 6px;
}

.menuItem {
    display: inline-block;
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.name {
    display: inline-block;
    font-size: 1.45em;
    font-family: 'Lato', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.pic {
    justify-content: center;
    /* display: flex; */
    border-radius: 7px;
    margin: auto;
    width: 25vw;
}

.bio {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 25vw;
}

.headshot {
    height: 40vh;
    width: 80vw;
}

.text {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

#rekuberate {
    text-decoration: none;
    color: #02996cf7;
    font-weight: 500;
}

.line {
    width: 25vw;
    margin-bottom: 20px;
}