body {
    background-color: #FCFCFC;
}

#container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    font-family: 'Crimson Text', serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
}

.nav {
    gap: 20px;
    display: flex;
    align-items: last baseline;
    width: 25vw;
    margin-top: 7vh;
    white-space: nowrap;
}

button {
    border-radius: 8px;
    width: 6vw;
    height: 4vh;
    background-color: rgb(5, 180, 5);
    box-shadow: 1px 1px 1px rgb(1, 85, 1);
}

.pic {
    justify-content: center;
    display: flex;
    border-radius: 7px;
    margin: auto;
    width: 25vw;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 25vw;
}

.headshot {
    height: 40vh;
    width: 80vw;
}

.text {
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.menuItem {
    display: inline-block;;
    text-decoration: none;
    color: black;
}

.name {
    display: inline-block;
    font-size: 1.45em;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

#rekuberate {
    text-decoration: none;
    color: #02996cf7;
    font-weight: 500;
}

.line {
    width: 25vw;
    margin-bottom: 20px;
}